{% extends 'main/layout.html' %}
{% block content %}
    <p>Here is all of your user information:</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Middle Initial: {{ user.profile.middle_initial }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Address: {{ user.profile.address }}</p>
    <p>Birth Date: {{ user.profile.date_of_birth }}</p>
    {% for phone_number in phone_numbers %}
        <p>{{ phone_number }}</p>
    {% endfor %}
    <a class="btn btn-primary" href="{% url 'account:edit_profile' %}">Edit Profile</a>
    <a class="btn btn-secondary" href="{% url 'account:change_password' %}">Change Password</a>
    <a class="btn btn-success" href="{% url 'manufacturer:choose_manufacturer' %}">List a Vehicle</a>
    <a class="btn btn-warning" href="{% url 'account:delete_account' %}" onclick="return confirm('{{ delete_message }}')">Delete Account</a>
    <a class="btn btn-danger" href="{% url 'index' %}">Back</a>
    {% for list in listings %}
        <p>{{ list }}</p>
    {% endfor %}
{% endblock %}